# -----------------------------------------------------------------------------
# Auth with next-auth
# https://authjs.dev/getting-started/installation?framework=Next.js
# Set your Auth URL and Secret
# Secret can be generated with `openssl rand -base64 32`
# -----------------------------------------------------------------------------
JWT_SECRET="JK7kdxUtDyg74YkDjDo6IRlXBNWlzIUpcZ/Grq94MyU="

# Next.js 配置
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_R2_DOMAIN=""

# 开发环境配置
NODE_ENV=development